@mixin menu($basesize) {
  display: flex;
  position: fixed;

  &__elem,
  &__btn {
    position: relative;

    &__btn,
    &__text,
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__btn > * {
      font-size: 2 * $basesize;
    }

    &__text {
      max-width: $basesize * 18;

      > .text {
        font-size: 1.6 * $basesize;
        padding: 6px;
      }

      > .section-header {
        font-size: 2.2 * $basesize;
        padding: 3px;
      }
    }
  }
}

@mixin topmenu($basesize) {
  height: 6 * $basesize;
}

@mixin sidebar($basesize) {
  width: 24 * $basesize;
  background-color: $color-primary-5;
  border: 1px solid $color-primary-5;
}
