/* Colors */
$color-blue-1: #56819f;
$color-gray-1: #f5f5f2;
$color-gray-2: #e3e3e3;
$color-gray-3: #bababa;
$color-gray-4: #979797;
$color-gray-5: #333333;
$color-green-1: #96cc9b;
$color-green-2: #74b67a;
$color-green-3: #04ae00;
$color-orange-1: #ffa200;
$color-orange-2: #f58220;
$color-red-1: #ec7171;
$color-red-2: #de5252;
$color-red-3: #ff0000;

/* Font-sizes */
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;

/* Fonts */
$font-main: 'Source Sans Pro', sans-serif;

/* Font weights */
$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

/* Other */
$transition: all 0.2s;
