.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: #ffffff;
  display: inline-block;
  font-size: $font-size-3;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  transition: $transition;
  vertical-align: middle;
  cursor: pointer;

  &__icon-l {
    left: 3 * $basesize;
    color: $color-primary-5;
  }

  &__icon-r {
    right: 3 * $basesize;
    color: $color-primary-5;
  }

  &__dot {
    background-color: $color-ternary;
    border-radius: 100%;
    height: 2.5 * $basesize;
    width: 2.5 * $basesize;
  }

  [class*='icon-']:before {
    font-weight: $font-semibold;
  }
}

.btn-primary {
  background-color: $color-primary-4;
  border-color: $color-primary-4;

  &:hover {
    background-color: $color-primary-3;
    border-color: $color-primary-3;
  }
}

.btn-secondary {
  background-color: $color-secondary;
  border-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-active;
    border-color: $color-secondary-active;
  }
}

.btn-disabled {
  background-color: $color-primary-2;
  border-color: $color-primary-2;
  cursor: not-allowed;

  &:hover {
    background-color: $color-primary-2;
    border-color: $color-primary-2;
  }
}

.btn-tab {
  background-color: #ffffff;
  border-color: #ffffff;
  color: $color-primary-4;

  &:hover,
  &.active {
    background-color: $color-primary-2;
    border-color: $color-primary-3;
  }
}

.btn-square {
  color: $color-primary-5;
  aspect-ratio: 1;
}
