%btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  transition: $transition;
  color: #ffffff;
  font-size: $font-size-3;
  text-align: center;
  vertical-align: middle;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  @extend %btn;
  background-color: $color-primary-4;
  border-color: $color-primary-4;

  &:hover {
    background-color: $color-primary-3;
    border-color: $color-primary-3;
  }
}

.btn-secondary {
  @extend %btn;
  background-color: $color-secondary-active;
  border-color: $color-secondary-active;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

.btn-disabled {
  @extend %btn;
  background-color: $color-primary-2;
  border-color: $color-primary-2;

  &:hover {
    cursor: not-allowed;
  }
}

.btn-tab {
  @extend %btn;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $color-ternary;
  padding-left: 5rem;

  &__dot {
    background-color: $color-ternary;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-2.6rem, -50%);
  }

  &--active {
    color: $color-primary-4;
    background-color: $color-primary-2;
    border-color: $color-primary-2;
  }
}

#btn-refresh {
  color: $color-primary-5;
  aspect-ratio: 1;
  height: 100%;
  margin-left: 1rem;
}
