/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  transition: $transition;
  color: #ffffff;
  font-size: $font-size-3;
  text-align: center;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }
}

.icon-notification__bagde {
  position: absolute;
  display: inline;
  content: '';
  width: 6px !important;
  height: 6px !important;
  border-radius: 50%;
  background-color: $color-orange-1;
  top: -10px;
  left: -10px;
}

.btn-gray {
  background-color: $color-gray-4;
  border-color: $color-gray-4;

  &:hover {
    background-color: $color-gray-3;
    border-color: $color-gray-3;
  }
}

.btn-orange {
  background-color: $color-orange-2;
  border-color: $color-orange-2;

  &:hover {
    background-color: $color-orange-1;
    border-color: $color-orange-1;
  }
}

.btn-disabled {
  background-color: $color-gray-2;
  border-color: $color-gray-2;

  &:hover {
    cursor: not-allowed;
  }
}

.btn-topmenu {
  width: 60px;
  height: 60px;
  min-width: fit-content;
  max-width: 240px;
  border-color: $color-gray-3;
  border-radius: 0;
  background-color: #ffffff;
  color: $color-gray-5;
  position: relative;

  &:hover {
    background-color: $color-gray-1;

    [class*='icon-']:before {
      font-weight: $font-semibold;
    }
  }
}

#btn-wallet {
  .text {
    font-size: $font-size-3;
    color: $color-gray-4;
    font-weight: $font-semibold;
  }
}

#btn-notification {
  .text {
    color: $color-blue-1;
  }
}

/* Links */
.link {
  text-decoration: none;
  color: $color-blue-1;

  &:hover {
    cursor: pointer;
    color: $color-orange-1;
  }
}

.link-lg {
  font-size: $font-size-3;
}

.link-sm {
  font-size: $font-size-1;
}
