.link {
  text-decoration: none;
  color: $color-ternary;

  &:hover {
    cursor: pointer;
    color: $color-secondary;
  }
}

.link-lg {
  font-size: $font-size-3;
}

.link-sm {
  font-size: $font-size-1;
}
